section {
  grid-column: 2;
  grid-row: 1;

  margin-top: 6rem;
  margin-bottom: 6rem;

  .favorites {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.6fr;

    background-color: $color-grey-light-1;
    border-style: solid none solid none;
    border-width: 1px;
    border-color: rgba($color-grey-dark-1, 0.25);

    &__restaurant {
      grid-column: 1 / 4;
      display: grid;
      column-gap: 0.5rem;
      grid-template-columns: 1fr 2fr 1fr;

      // background-color: $color-grey-light-1;
      // border-style: solid none solid none;
      // border-width: 1px;
      // border-color: rgba($color-grey-dark-1, 0.25);

      &:link,
      &:visited {
        text-decoration: none;
        color: $color-grey-dark-1;
      }

      &--img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }

      &--content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h3 {
          font-size: 1.8rem;
        }

        p {
          font-size: 1.3rem;
        }
      }
    }

    &__krayv {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      svg {
        height: 2.5rem;
        width: 2.5rem;
        margin-top: 0.5rem;
        fill: rgba($color-secondary-4, 0.75);
      }

      h3 {
        font-size: 1.4rem;
        margin-top: 0.5rem;
      }
    }

    .btn--remove {
      font-size: 2.25rem;
      font-family: inherit;
      font-weight: 700;
      color: $color-grey-dark-1;
      background-color: rgba($color-primary-0, 0.85);
      cursor: pointer;
      border: none;
      border-left: 1px solid rgba($color-grey-dark-1, 0.25);
    }
  }
}
