.filters {
  grid-column: 2;
  grid-row: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 6px;
  height: 80%;
  width: 95%;
  transform: translate(-50%, -50%);
  z-index: 103;

  padding: 4rem 3rem 2rem 3rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.45);
  background-color: $color-grey-light-1;
  border-radius: 6px;
  transition: all 0.5s;

  display: grid;
  grid-template-rows: 3fr 1fr;

  .meal {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .price {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .breakfast:checked ~ #breakfast,
  .brunch:checked ~ #brunch,
  .lunch:checked ~ #lunch,
  .dinner:checked ~ #dinner,
  .price1:checked ~ #price1,
  .price2:checked ~ #price2,
  .price3:checked ~ #price3 {
    background-color: $color-primary-0;
  }

  label {
    font-family: inherit;
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
    margin: 1rem;
    border-radius: 6px;
    transition: all 0.3s;
    content: '';

    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      display: flex;
      align-self: center;
    }
  }
  input {
    display: none;
  }
}
