.bottomnav 
    ul.bottomnav__list 
        li.bottomnav__item 
            a.bottomnav__btn.bottomnav__btn--home(href="#")
                svg.bottomnav__icon 
                    use(href="/img/icons.svg#icon-home3")
        li.bottomnav__item 
            button.bottomnav__btn.bottomnav__btn--filter
                svg.bottomnav__icon 
                    use(href="/img/icons.svg#icon-filter")
        li.bottomnav__item 
            button.bottomnav__btn.bottomnav__btn--map
                svg.bottomnav__icon 
                    use(href="/img/icons.svg#icon-map")