header.header 
    nav.nav 
        img.nav__logo(src='img/logo_really_small.png' alt='Logo')
        ul.nav__list 
            li.nav__item 
                a.nav__btn.nav__btn--favorites(href='#')
                    svg.nav__icon 
                        use(href='img/icons.svg#icon-star-full')
            li.nav__item 
                a.nav__btn.nav__btn--profile(href='#')
                    svg.nav__icon 
                        use(href='img/icons.svg#icon-user')