extends base

block content 
    section 
        article.favorites 
            a.favorites__restaurant(href='/p')
                figure.favorites__restaurant--img
                    img(src='../img/food-image-1.png' alt='Plate 1')
                .favorites__restaurant--content
                    h3.favorites__content--name Restaurant Name
                    p.favorites__content--location City, State 
                    p.favorites__content--cuisine Cuisine Type
                .favorites__krayv 
                    svg 
                        use(href='../img/icons.svg#icon-grin2')
                    <h3><strong>24</strong></h3>
            button.btn--remove &times;
