* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: #474646;
  background-color: #f2efee;
  display: grid;
  grid-template-columns: 1fr minmax(36rem, 60rem) 1fr; }
  body .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 80;
    transition: all 0.5s; }
  body .hidden {
    visibility: hidden;
    opacity: 0; }

.nb {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.ns {
  -webkit-user-select: none; }

.filters {
  grid-column: 2;
  grid-row: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 6px;
  height: 80%;
  width: 95%;
  transform: translate(-50%, -50%);
  z-index: 103;
  padding: 4rem 3rem 2rem 3rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.45);
  background-color: #f9f7f6;
  border-radius: 6px;
  transition: all 0.5s;
  display: grid;
  grid-template-rows: 3fr 1fr; }
  .filters .meal {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
  .filters .price {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .filters .breakfast:checked ~ #breakfast,
  .filters .brunch:checked ~ #brunch,
  .filters .lunch:checked ~ #lunch,
  .filters .dinner:checked ~ #dinner,
  .filters .price1:checked ~ #price1,
  .filters .price2:checked ~ #price2,
  .filters .price3:checked ~ #price3 {
    background-color: #f6840f; }
  .filters label {
    font-family: inherit;
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
    margin: 1rem;
    border-radius: 6px;
    transition: all 0.3s;
    content: '';
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .filters label span {
      display: flex;
      align-self: center; }
  .filters input {
    display: none; }

.geofilter {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 95%;
  transform: translate(-50%, -50%);
  z-index: 104;
  padding: 0.5rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.45);
  background-color: #f9f7f6;
  border-radius: 6px;
  transition: all 0.5s;
  font-family: inherit;
  font-weight: 700;
  color: #474646;
  font-size: 2rem; }

#map {
  height: 100%;
  width: auto;
  z-index: 89; }

.bottomnav {
  display: grid;
  grid-template-columns: 1fr minmax(5rem, 60rem) 1fr;
  height: 5rem;
  z-index: 101;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #f2efee; }
  .bottomnav__list {
    background: linear-gradient(to bottom right, #f6840f 0%, #ffb66c 100%);
    box-shadow: 0 0.8rem 4rem -1rem #474646;
    border-top: 1px solid rgba(71, 70, 70, 0.25);
    grid-column: 2;
    list-style: none;
    display: flex;
    justify-content: space-evenly; }
  .bottomnav__btn {
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem 3rem;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .bottomnav__btn svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: #474646; }
    .bottomnav__btn:active {
      background-color: #4eafac; }

.feed {
  background-color: #f2efee;
  grid-column: 2;
  grid-row: 1; }
  .feed .post {
    margin-top: 6rem;
    margin-bottom: 6rem; }
    .feed .post__container {
      margin-bottom: 3rem; }
    .feed .post__img {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      overflow: hidden;
      display: block;
      z-index: 5; }
    .feed .post__content {
      display: flex;
      justify-content: space-between;
      background-color: #f9f7f6;
      border-style: none solid solid solid;
      border-width: 1px;
      border-color: rgba(71, 70, 70, 0.25); }
      .feed .post__content--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.25rem 0.5rem; }
        .feed .post__content--text a {
          text-decoration: none; }
          .feed .post__content--text a:visited, .feed .post__content--text a:active {
            color: inherit; }
        .feed .post__content--text h3 {
          font-size: 1.4rem;
          text-transform: uppercase; }
        .feed .post__content--text span {
          font-size: 1.1rem; }
      .feed .post__content--krayv {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background: none;
        border: none;
        cursor: pointer;
        padding: 1rem 2rem; }
        .feed .post__content--krayv svg {
          height: 2.25rem;
          width: 2.25rem;
          fill: #4eafac;
          transition: all 0.3s; }
        .feed .post__content--krayv span {
          font-size: 1.4rem;
          margin-top: 1rem;
          color: #474646; }
        .feed .post__content--krayv:focus {
          outline: none; }
        .feed .post__content--krayv:active svg {
          fill: #4eafac;
          transform: translateY(0); }

.header {
  display: grid;
  grid-template-columns: 1fr minmax(5rem, 60rem) 1fr;
  height: 5rem;
  z-index: 102;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f2efee; }

.nav {
  background-color: #f9f7f6;
  box-shadow: 0 0.8rem 1.5rem -1rem #0e918c;
  border-bottom: 1px solid rgba(71, 70, 70, 0.25);
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav__logo {
    font: inherit;
    height: 2.75rem;
    width: auto;
    margin-left: 0.25rem; }
  .nav__list {
    list-style: none;
    display: flex;
    height: 100%; }
  .nav__btn {
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .nav__btn svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: #474646; }
    .nav__btn:focus {
      outline: none; }
    .nav__btn:active {
      background-color: #4eafac; }

section {
  grid-column: 2;
  grid-row: 1;
  margin-top: 6rem;
  margin-bottom: 6rem; }
  section .favorites {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.6fr;
    background-color: #f9f7f6;
    border-style: solid none solid none;
    border-width: 1px;
    border-color: rgba(71, 70, 70, 0.25); }
    section .favorites__restaurant {
      grid-column: 1 / 4;
      display: grid;
      column-gap: 0.5rem;
      grid-template-columns: 1fr 2fr 1fr; }
      section .favorites__restaurant:link, section .favorites__restaurant:visited {
        text-decoration: none;
        color: #474646; }
      section .favorites__restaurant--img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; }
      section .favorites__restaurant--content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        section .favorites__restaurant--content h3 {
          font-size: 1.8rem; }
        section .favorites__restaurant--content p {
          font-size: 1.3rem; }
    section .favorites__krayv {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      section .favorites__krayv svg {
        height: 2.5rem;
        width: 2.5rem;
        margin-top: 0.5rem;
        fill: rgba(0, 91, 87, 0.75); }
      section .favorites__krayv h3 {
        font-size: 1.4rem;
        margin-top: 0.5rem; }
    section .favorites .btn--remove {
      font-size: 2.25rem;
      font-family: inherit;
      font-weight: 700;
      color: #474646;
      background-color: rgba(246, 132, 15, 0.85);
      cursor: pointer;
      border: none;
      border-left: 1px solid rgba(71, 70, 70, 0.25); }

.restaurant {
  grid-column: 2;
  grid-row: 1;
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: grid;
  grid-template-rows: minmax(10rem, 20rem) repeat(4, max-content);
  row-gap: 0.5rem;
  background-color: #f2efee; }
  .restaurant h3 {
    font-size: 2rem; }
  .restaurant h4 {
    font-size: 1.5rem; }
  .restaurant p {
    font-size: 1.5rem; }
  .restaurant a {
    text-decoration: none;
    color: #04736f; }
  .restaurant svg {
    height: 2rem;
    width: 2rem;
    fill: #474646;
    margin-right: 0.75rem; }
  .restaurant button {
    height: 100%;
    border: none; }
  .restaurant__main {
    background-position: center;
    background-size: cover;
    position: relative;
    border-style: solid none;
    border-width: 1px;
    border-color: rgba(71, 70, 70, 0.25); }
  .restaurant__description {
    display: grid;
    grid-template-columns: 3fr min-content;
    border-bottom: 1px solid rgba(71, 70, 70, 0.25);
    padding-left: 0.5rem; }
    .restaurant__description--info p {
      text-transform: capitalize; }
    .restaurant__description--fav .btn__fav {
      font-family: inherit;
      height: 100%;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0.75rem 1rem; }
      .restaurant__description--fav .btn__fav svg {
        margin: 0;
        height: 2.5rem;
        width: 2.5rem;
        fill: #4eafac; }
  .restaurant__info {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
    padding: 0.5rem; }
    .restaurant__info--location {
      display: flex;
      align-items: center; }
    .restaurant__info--phone {
      display: flex;
      align-items: center; }
    .restaurant__info--website {
      display: flex;
      align-items: center; }
    .restaurant__info--delivery {
      display: flex;
      align-items: center; }
      .restaurant__info--delivery a {
        margin-right: 1.25rem; }
  .restaurant__hours {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    padding: 0 0.5rem 0.5rem 0.5rem;
    border-bottom: 1px solid rgba(71, 70, 70, 0.25);
    color: #04736f; }
    .restaurant__hours--btn {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .restaurant__hours--btn svg {
        margin: 0 0.75rem 0 0;
        height: 1.75rem;
        width: 1.75rem;
        fill: #f6840f; }
    .restaurant__hours--time {
      display: none;
      grid-column: 1 / -1;
      font-size: 1.3rem;
      color: #474646; }
      .restaurant__hours--time ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        list-style-type: none;
        margin-top: 0.5rem; }
  .restaurant__images {
    margin-top: 2rem; }
    .restaurant__images--layout {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-rows: min-content min-content;
      margin-bottom: 0.5rem;
      padding: 0.5rem 0.5rem;
      border-style: solid none;
      border-width: 1px;
      border-color: rgba(71, 70, 70, 0.25); }
      .restaurant__images--layout h4 {
        margin-left: 0.5rem;
        font-size: 1.5rem; }
      .restaurant__images--layout button {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .restaurant__images--layout button svg {
          margin: 0 0.75rem 0 0;
          height: 1.75rem;
          width: 1.75rem;
          fill: #f6840f; }
      .restaurant__images--layout img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        margin-top: 0.75rem; }
      .restaurant__images--layout .images {
        grid-row: 2;
        grid-column: 1 / -1;
        margin-left: 1rem;
        margin-right: 1rem; }
        .restaurant__images--layout .images .breakfast {
          display: none; }
        .restaurant__images--layout .images .brunch {
          display: none; }
        .restaurant__images--layout .images .lunch {
          display: none; }
        .restaurant__images--layout .images .dinner {
          display: none; }

.btn--close-modal {
  background-color: #f6840f;
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  font-family: inherit;
  font-weight: 700;
  color: #474646;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  z-index: 100; }
